---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Serverless"
description: |-
  Retrieves the connection bundle for a ScyllaDB Cloud serverless cluster.
---

# {{.Name}} ({{.Type}})

~> **Deprecated:** This data source is deprecated and will be removed in a future release of the provider. Consider using dedicated clusters with the [`scylladbcloud_cluster`](../resources/cluster) resource instead.

Retrieves the connection bundle for a ScyllaDB Cloud serverless cluster. The connection bundle contains all the information needed to establish a secure connection to your serverless cluster, including certificates and connection endpoints.

## Example Usage

{{ tffile "examples/data-sources/scylladbcloud_serverless_bundle/data-source.tf" }}

## Argument Reference

This data source supports the following arguments:

### Required

* `cluster_id` - (Required) The numeric ID of the serverless cluster.

### Timeouts

`timeouts` block allows you to specify [timeouts](https://developer.hashicorp.com/terraform/language/resources/syntax#operation-timeouts) for certain operations:

* `read` - (Default `20m`) Time to wait for reading the connection bundle.

## Attribute Reference

This data source exports the following attributes:

* `id` - The cluster ID.
* `connection_bundle` - (Sensitive) The YAML-formatted connection bundle containing all connection details. This includes:
  * TLS certificates
  * Connection endpoints
  * Authentication configuration

## Using the Connection Bundle

The connection bundle is in YAML format with `kind: CQLConnectionConfig`. You can parse it in your application or save it to a file for use with ScyllaDB drivers that support connection bundles.

```terraform
# Save the connection bundle to a local file
resource "local_file" "connection_bundle" {
  content  = data.scylladbcloud_serverless_bundle.example.connection_bundle
  filename = "${path.module}/scylla-connection-bundle.yaml"
}
```

## Related Resources

* [scylladbcloud_serverless_cluster](../resources/serverless_cluster) - Create and manage serverless clusters (deprecated)
* [scylladbcloud_cluster](../resources/cluster) - Create and manage dedicated clusters (recommended)

